/*color palette*/

/*
Dark:  272727, 622F82, 6B4227, 6E8229, 267078;
       gray   purple  brown   green   blue
Light: B8B8B8, BB5AF7, E08A52, D1F74E, 4BDFED;


*/

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 0;
    color: #6B4227;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #9d3c56;
    background: url('images/bg.jpg') top center;
}

#app-name {
  margin-top: 0;
  font-family: 'blambot-pro', Helvetica, Arial, sans-serif;
  padding-left: 0.5em;
  font-weight: bold;
  color: #eee;
  background-color: #080034;
  border: 4px double #ECF0F1;
  border-top: 0;
}

#login-buttons {
  padding-right: 0.5em;
  margin-top: 1em;
  text-shadow: 1px 0px 1px  rgba(255, 230, 255, .2),
               0px 1px 1px  rgba(255, 230, 255, .2);
}

a {
  color: #4BDFED;
}

h2, h3 {
  text-align: center;
  color: #cecfd1;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
  text-shadow: -1px 0px 1px  rgba(0, 0, 0, 0.4),
               0px -1px 1px  rgba(0, 0, 0, 0.4),
               1px 0px 1px  rgba(235, 235, 255, 0.8),
               0px 1px 1px  rgba(235, 235, 255, 0.8);
}

h4 {
  font-family: museo-sans, sans-serif;
  text-shadow: -1px 0px 1px  rgba(235, 235, 255,0.4),
               0px -1px 1px  rgba(235, 235, 255,0.4);
}

#outer {
  width: 600px;
  margin: 0 auto;
  background-color: #ccc; 
}

#app-name {
  font-variant: small-caps;
}

.scoreboard {
  display: inline-block;
  min-width: 69px;
  margin: 0px;
  float: left;
  padding: 1px;
  padding-left: 15px;
}

#user-ratings {
  background-image: url('images/heart.svg');
  width: 100%;
  background-repeat: repeat-y;
}

.detail {
  margin-right: 5px;
  margin-left: 5px;
  -webkit-transition: height 2000ms ease-out;
  transition: height 2000ms ease-out;
}

.friend, .me {
  overflow: hidden;
  border: 1px solid #eee;
  border-right-color: #999;
  border-bottom-color: #999;
  padding-bottom: 1em;
  background: -moz-linear-gradient(bottom, rgba(255,255,255,0) 50%, rgba(235,238,243,0.6) 90%, rgba(235,238,243,0.5) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 50%, rgba(235,238,243,0.6) 90%, rgba(235,238,243,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to top, rgba(255,255,255,0) 50%, rgba(235,238,243,0.6) 90%, rgba(235,238,243,0.5) 100%); /* W3C */
}

.friend:first-child {
  border-top: 1px solid #eee;
}

.friend:last-child {
  margin-bottom: 30px;
}

.cap {
    margin: 0;
    padding: 0 4px;
    padding-top: 6px;
    margin-right: 3px;
    display: inline-block;
}

.friend .cap.non-selected {
  opacity: 0.3
}

.me .cap.selected {
  background-color: #cec;
  -moz-box-shadow:    inset 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow:         inset 0 0 6px rgba(0, 0, 0, 0.4);
}

.cap[draggable=true] svg g {
  cursor: move;
}

.cap.sortable-dragging {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.cap .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.cap .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}